html,
body {
  background-color: #f8f7ff;
}

body {
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: Semi Bold;
  color: #5e56e7;
}

h2 {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: Semi Bold;
}

.genreClass {
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
  font-size: 20px;
  font-family: Montserrat;
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: 100px 35px, 100px 35px;
}

.alignCenter {
  margin: auto;
  justify-content: center;
  margin: auto;
  background-color: #f8f7ff;
}

.rectangle {
  width: 114px;
  height: 162px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
  overflow: hidden;
  margin-left: 0px;
  margin-right: 0px;
}

.bookName {
  font-size: 12px;
  font-family: Montserrat;
  font-weight: Regular;
  color: black;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.clickable {
  cursor: pointer;
}

.searchBox {
  background-image: url(static/media/Search.svg), url(static/media/Cancel.svg);
  background-repeat: no-repeat;
  background-position: left, right;
  background-size: 40px 25px, 40px 20px;
}

.backImage {
  background-image: url(static/media/Back.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 25px;
}

.searrchImage {
  background-image: url(static/media/Back.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 20px;
}
.removeMargin {
  margin-left: 0px;
  margin-right: 0px;
}

#root {
  background-color: #f8f7ff;
}
